@model RegistrationModel

@{ 
    ViewData["Title"] = "Registration";
}

@section scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/site.js"></script>
} 

<form asp-action="Index" method="post">
    <div class="form-group row">
        <div class="col-sm-2"><label>Name:</label></div>
        <div class="col-sm-4">
            <input asp-for="Name" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Name" class="text-danger">
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Address:</label></div>
        <div class="col-sm-4">
            <input asp-for="Address" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Address" class="text-danger">
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Phone Number:</label></div>
        <div class="col-sm-4">
            <input asp-for="PhoneNumber" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="PhoneNumber" class="text-danger">
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label>Age:</label></div>
        <div class="col-sm-4">
            <input asp-for="Age" class="form-control" />
        </div>
        <div class="col">
            <span asp-validation-for="Age" class="text-danger">
            </span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Contact Preference</label>
            <div class="dropdown">
                <button class="dropbtn">Contact Preference</button>
                <div class="dropdown-content">
                    <a>By Phone</a>
                    <a href="#">By Email</a>
                    <a href="#">By Surface Mail</a>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
